.container-form {
    width: 80%;
    margin: 80px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.container-form header {
    margin: 10px 0;
}

.container-form header h2::before {
    content: '';
    border-right: 5px solid var(--hover-color);
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    width: 400px;
}

.form input {
    padding: 8px;
    font-family: Cairo;
    margin: 5px 0;
    display: block;
}

.form input:focus-visible {
    outline-color: var(--hover-color);
}

.form .btn {
    position: relative;
    right: 332px;
}

@media (min-width: 238px) and (max-width: 767px) {
    .container-form {
        margin-top: 120px;
    }

    .form {
        width: 300px;
    }

    .form .btn {
        position: relative;
        right: 232px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-form {
        margin-top: 120px;
    }
}
