/* START NAVBAR */
.navbar {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

/* START NAVBAR LIST FOR EMPLOYEE */
.navbar .list-emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navbar .list-emp .home-written {
    display: inline-block;
    margin: 0 10px;
}

.navbar .list-emp .home-icon {
    display: none;
}

/* START NAVBAR LIST FOR STUDENT */
.navbar .list-bar {
    display: none;
}

.navbar .list,
.navbar .list-emp {
    display: flex;
    padding: 8px 0;
    list-style: none;
}

.navbar .list a,
.navbar .list-emp a {
    text-decoration: none;
    color: var(--dark-color);
    display: inline-block;
}

.navbar .list li,
.navbar .list-emp li {
    font-size: 1rem;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.navbar .list a:hover,
.navbar .list li:hover,
.navbar .list-emp a:hover,
.navbar .list-empli:hover {
    color: var(--hover-color);
    transition: 0.2s;
}
/* END NAVBAR LIST */

/* START NAVBAR ICONS */
.navbar .icons {
    direction: ltr;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.navbar .image {
    display: flex;
    height: 100%;
    width: fit-content;
}

.navbar img {
    width: 50px;
    margin: auto 0;
    margin-right: 20px;
}

.icons svg {
    width: 20px;
    fill: var(--dark-color);
    cursor: pointer;
    display: inline-block;
}

.icons svg:hover:not(.wallet-icon) {
    fill: var(--hover-color);
    transform: scale(1.05);
    transition: 0.2s;
}

.wallet {
    display: flex;
    padding: 5px;
    margin: 6px 0;
    text-align: center;
}

.icons .wallet-icon {
    width: 20px;
    margin-right: 5px;
}

.wallet-pro {
    display: none;
}
/* END NAVBAR ICONS */

/* START RESPONSIVE NAVBAR */
@media (min-width: 280px) and (max-width: 992px) {
    .navbar {
        padding: 10px;
        width: 100%;
    }

    .navbar .list-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar .list-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 15px;
        width: 30px;
    }

    .navbar .list-bar svg {
        fill: var(--blue);
    }

    .navbar .list-section:hover .list {
        display: block;
    }

    .navbar .list {
        display: none;
        position: absolute;
        top: 35px;
        right: 25px;
        background-color: var(--gray);
        width: 200px;
        text-align: center;
        padding: 15px;
        margin: 20px;
        border-radius: 5px;
    }

    .navbar .list li {
        font-size: 1.3rem;
        margin: 5px 0;
    }

    .navbar .icons {
        position: relative;
    }

    .navbar .list-emp .home-written {
        display: none;
    }

    .navbar .list-emp .home-icon {
        display: block;
        margin: 0 15px;
    }

    .navbar .list-emp .home-icon svg {
        width: 25px;
        fill: var(--dark-color);
    }
}
/* END RESPONSIVE NAVBAR */

/* START LIST (SCHEDULES AND SERVCIES) */
.nav-list {
    list-style: none;
    background-color: var(--dark-color);
    padding: 5px 15px;
    position: absolute;
    margin: 0px 5px;
    border-radius: 5px;
    display: none;
}

.navbar .list .nav-list li {
    padding: 5px;
    margin: 15px auto;
    border-bottom: 1px solid var(--blue);
}

.navbar .list .nav-list li a {
    color: var(--white);
}

.navbar .list .nav-list li a:hover {
    color: var(--hover-color);
    transform: scale(1.04);
    transition: 0.2s;
}

.services:hover .services-list,
.schedules:hover .schedules-list {
    display: block;
}
/* END LIST (SCHEDULES AND SERVCIES) */

/* START PROFAILE INFO */
.icon-list {
    width: 50px;
    display: flex;
    justify-content: center;
}

.profile {
    position: absolute;
    top: 40px;
    left: 200px;
    margin: 20px;
    background-color: var(--gray);
    padding: 15px;
    width: 200px;
    text-align: center;
    display: none;
    border-radius: 5px;
}

.profile .avatar {
    margin: 15px auto;
}

.profile .avatar img {
    width: 40%;
    border-radius: 50%;
    margin: 0;
}

.profile .btn {
    display: block;
    width: fit-content;
    margin: 10px auto;
    text-decoration: none;
    font-size: 0.7rem;
}

.profile .edit-info a {
    color: var(--blue);
    text-decoration: none;
    font-size: .9rem;
    display: block;
    margin: 5px 0;
}

.profile .edit-info a:hover {
    color: var(--hover-color);
    transform: scale(1.04);
    transition: 0.2s;
}

.profile-list:hover .profile,
.navigation-list:hover .navigations {
    display: block;
}
/* END PROFAILE INFO */

/* START NAVIGATION */
.navigations {
    position: absolute;
    top: 40px;
    left: 250px;
    margin: 20px;
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: var(--gray);
    scrollbar-color: var(--blue) var(--dark-color);
    scrollbar-width: thin;
}

.navigations::-webkit-scrollbar-track {
    scrollbar-color: var(--blue) var(--dark-color);
    scrollbar-width: thin;
}

/* width */
.navigations::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.navigations::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.navigations::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
} 

.empty-notification {
    width: 200px;
    text-align: center;
    padding: 10px;
}

.new-notification {
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    left: 20px;
    top: 10px;
    display: none;
}


.navigation {
    background-image: linear-gradient(
        135deg,
        var(--dark-color) 0%,
        var(--blue) 100%);
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    color: var(--gray);
}

.navigation time {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-size: 12px;
    padding: 0 10px;
}

.navigation time p {
    width: fit-content;
}

.navigation .info {
    display: flex;
    text-align: center;
}

.navigation p {
    text-align: center;
    width: 300px;
}

.navigation .delete {
    width: 15px;
    margin: 0 20px;
}

.navigation .delete svg {
    fill: var(--gray);
}

.new-notify {
    color: var(--hover-color);
}

.new-notify .delete svg {
    fill: var(--hover-color);
}

/* END NAVIGATION */

@media (min-width: 270px) and (max-width: 768px) {
    .navbar img {
        margin: 20px 5px;
    }
    .icon-list {
        margin: 0 7px;
    }

    .wallet {
        display: none;
    }

    .profile {
        position: absolute;
        left: 20%;
        top: 50px;
    }

    .wallet-pro {
        display: flex;
        width: fit-content;
        margin: 10px auto;
    }

    .navigations {
        position: absolute;
        left: 30%;
        top: 50px;
        width: 150px;
    }
}
