.data-section {
    text-align: center;
}

.choose-type {
    text-align: center;
}

.choose-type select {
    margin: 0 10px;
    width: 120px;
    padding: 3px;
    font-family: Cairo;
}

.data-section textarea {
    width: 500px;
    height: 180px;
    margin: 15px;
    padding: 5px;
}
