.news-page {
    width: 80%;
    margin: 80px auto 25px;
    padding: 5px;
}

.news-page header {
    margin: 20px 0 20px;
}

.news-page header h2 {
    padding: 15px 0;
}

.news-page header h2::before {
    content: '';
    border-right: 5px solid var(--hover-color);
    margin-left: 5px;
}

.btn {
    text-decoration: none;
}
