.choose-year form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.data {
    
    width: 70%;

}

.edit-text{
    margin-left: 10px;
}

.btn-add {
    display: flex;
    justify-content: center;
    margin-right: 4px;
}

.deletebtn{
    width: fit-content;
}