.choose-year form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.add-data form{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 30px;
}

.data {
    display: inline-block;
    width: 60%;
    height: 60%;
    padding: 5px;
    margin: 25;
}

.edit-text{
    margin-left: 10px;
}

.btn-add {
    margin-right: 4px;
}