.choose-sechedule form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.subject-emp .place {
    width: 80%;
    display: inline-block;
}

.subject-emp .delete {
    display: inline-block;
}

.subject-emp .delete svg {
    fill: var(--white);
    width: 15px;
}

.add-subject-icon {
    text-align: left;
}

.add-subject-icon svg {
    width: 35px;
}

.pay-section {
    width: 400px;
}

.data-subject {
    width: 80%;
    margin: 0 auto;
}

.data-subject form label {
    margin: 10px;
}

.data-subject form input {
    padding: 8px;
    font-family: Cairo;
    margin: 5px auto 10px;
    display: block;
    width: 100%;
}

.data-subject form .time {
    display: inline-block;
    width: 110px;
}

@media (min-width: 280px) and (max-width: 767px) {
    .choose-sechedule form {
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        margin: 25px auto;
    }
    .choose-sechedule form div {
        margin: 5px 0;
    }

    .pay-section {
        width: 300px;
    }

    .data-subject form .time {
        width: 180px;
    }
}

.container-schedule .choose-sechedule .buttons {
    display: flex;
    width: max-content;
    margin: 0 auto;
    padding: 0;
}

.container-schedule .choose-sechedule .buttons .btn {
    float: none;
    margin: 0 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .choose-sechedule form {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        margin: 25px auto;
    }
}
